# Bloqueia acesso direto à raiz
#Order allow,deny
#Deny from all

RewriteEngine On

#Redireciona tudo para public/
RewriteCond %{REQUEST_URI} !^/sime/public/
RewriteRule ^(.*)$ public/$1 [L]

Options -Indexes
